.font-1{
  font-size: 30px;
  /* 
    폰트 이름 공백 있음 -< 쌍따움표 표기
  */
  font-family: 'Times New Roman', Times, serif;
  font-style: 7rem;
}

.font-2{
  /*  최상위 폰트 * 2 = 32px */
  font-size: 2rem;
  /* Value - KeyWord */
  font-weight: bolder;
}

.font-3{
  font-size: 13em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
  font-weight: 700;
}

.font-4{
  font-size: small;
}

.font-5{
  /* shorthand 기능 */
  /* font: font-style font-weight line-height font-size(필수) font-family(필수) */
  font: italic 2rem caption;
}